<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.web.board.dao.mybatis.BoardModelMapper">

    <insert id="save"  useGeneratedKeys="true" keyProperty="boardNo">
        insert into board (title, content, reg_name)
        values (#{title}, #{content}, #{regName})
    </insert>

    <update id="update">
        update board
        set title=#{updateParam.title},
            content=#{updateParam.content}
        where board_no =#{boardNo}

    </update>

    <select id="findById" resultType="BoardModel">
        select *
        from board
        where board_no=#{boardNo}
    </select>

    <select id="findAll" resultType="BoardModel">
        select *
        from board
        <where>
            <if test="title != null and text != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="text != null and text != ''">
                and text like concat('%',${text},'%')
            </if>
        </where>
    </select>

    <delete id="delete">
        delete from board
        where board_no=${boardNo}
    </delete>

</mapper>